<html>
    <body>
        <form action="http://localhost:5000/landing/sumar" method="post">
        <h1>Bienvenido, {{ nombre }} {{apellido}}</h1>
        <h2>Su edad es {{edad}}</h2>
        <p>Introduzca dos numeros</p>
        <p><input type="text" name="n1" /></p>
        <p><input type="text" name="n2" /></p>
        <p><input type="submit" value="SUMAR" /></p>
        </form>
    </body>
</html>