{%extends "bootstrap/base.html"%}

{% block navbar %}
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://myfamilyjoint.com/bundles/app/img/libro.png" width="30" height="30" class="d-inline-block align-top">
  </a>
  </nav>
</div>
{% endblock %}

{% block content %}
<center>
<h1>Lista de libros</h1>
<br>
<div class="card-columns">
    {% for dato in data %}
 <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
   <img src="{{dato[3]}}" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">{{ dato[0]}}</h5>
           <h6>Autor: {{dato[1]}}</h6>
           <h6>Genero: {{dato[2]}}</h6>
   </div>
 </div>
    {% endfor %}

</div>
    </center>
{% endblock %}
